.search a{
	display: inline-block;
	color: black;
}
.social-icon a{
	display: inline-block;
	color: red;
	width: 30px;
}
.social-icon1{
	display: none;
}
.social-icon1 a{
	display: inline-block;
	color: black;
}
.parent-header{
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
}
.burger-icon{
	margin-right: 30px;
	float: right;
	display: none;
	width: 60px;
	height: 60px;
	background-image: url('../images/burger-list-menu-navigation.svg');
}
header{
/*	height: 77px; */
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 20;
	position: relative;
}
.container{
	max-width: 1180px;
	margin-left: auto;
	margin-right: auto;
}
.container-fuild{
display: block;
}
.logo-parent{
	display: inline-block;
	vertical-align: middle;
	width: 100px;
}
.logo-parent img{
	width: 100px;
}

.header-nav{
	display: inline-block;
	vertical-align: middle;
	margin-left: 100px;
}
.nav-list{
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
	margin-left: 30px;
	font-family: 'Roboto.it',sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	color: #3d58a6;
	font-weight: bold;
	transition: all 0.3s;
/*	cursor: pointer;*/
} 
.nav-list a{
	color: #3d58a6;
	transition: all 0.3s;
}
.nav-list:hover{
	font-size: 100px;
	opacity: 0.5;
	color: red;
}
.nav-list:active{
	opacity: 1;
	color: blue;
}

.social-icon {
	display: inline-block;
	vertical-align: middle;
}
.social-icon li{
	display: inline-block;
	vertical-align: middle;
}
.banner-container{
	background-color: #E6E6E6;
	padding: 30px 0;
	position: relative;
	z-index: 10;
}
.banner-container .banner-child-container{
	position: relative;
}
.banner-container .banner-child-container .white-html{
	position: absolute;
	width: 95px;
	right: 30px;
	bottom: 30px;
}
.banner-container .banner-child-container .text-box{
	background-color: silver;
	position: absolute;
	width: 95px;
	margin-left: 30px;
	bottom: 30px;
}
.banner{
		display: block;
		width: 100%;
}
/*.text-box{
	background-color: green;
}
.banner-container .text-box{
	background-color: red;
}*/
.blue-box{
	background-color: rgb(54, 62, 151);
	padding-bottom: 90px;
}
.blue-box h1{
	padding: 30px 0;
	text-transform: uppercase;
}
.blue-box a{
	margin-left: 10px;
	text-transform: lowercase;
}
.videos-parent{
	display: flex;
	justify-content: space-between;
}
.part-video{
	width: 570px;
	height: 320px;
	background-color: #f2f2f2;
}

.article-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.article-box{
	background-color: #BDCCD4;
	padding-bottom: 90px;
}
.article-box .container > h1{
	padding: 30px 0;
}
.article-box .part-article{
	width: 270px;
	height: 270px;
/* 	display: inline-block;
	vertical-align: middle;
	margin: auto 15px; */
	background-color: #E6E6E6;
	margin-top: 30px;
}
.article-box .part-article .image-block{
	display: block;
	width: 100%;
	height: 189px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.article-box .part-article h1{
	display: block;
	width: 100%;
	padding-left: 15px;
	line-height: 81px;
	height: 81px;
}
.part-article:nth-child(1),
.part-article:nth-child(2),
.part-article:nth-child(3),
.part-article:nth-child(4){
	margin-top: 0;
}

@media (max-width: 1024px){
	.blue-box{
		display:none;
	}
	.article-box .part-article{
		width: calc(33.3% - 30px);
	}
	.part-article:nth-child(3){
		width: calc(33.3% - 15px);
		margin-right: 0;
	}
	.part-article:last-child{
		display: none;
	}

	.burger-icon{
		display: inline-block;
	}
	.header-nav{
		position: fixed;
		width: 100%;
		height: calc(100% - 130px);
		top: 130px;
		left: -100%;
		background: red;
		opacity: 0.5;
		margin-left: inherit;
/*		transition-property: left;
		transition-duration: 5s;
		transition-timing-function: ease;
		transition-delay: 5s;*/
		transition: left .3s ease;
	}
	.header-nav.active{
		left: 0;
	}
}
@media (max-width: 480px){
	.article-box .part-article{
		display:block;
		width: calc(100% - 30px);
		margin: 22px 15px;
	}
	.social-icon1{
		display: block;	
		text-align: center;
	}
	.social-icon1 li{
		height: 40px;
	}
	.social-icon{
		display: none;
	}
	.header-nav .nav-list{
		height: 40px;
		display: block;
		text-align: center;
	}
a 